{{ define "main" }}
  <div class="p-4">
  <h1 class="font-bold text-4xl text-sky-500 mb-4">{{ .Title }}</h1>
  {{ .Content }}
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto my-4">
  {{ range .Pages }}
  <div class="bg-white shadow-md p-4">
    {{ if .Params.featured_image }}
      {{ with .Resources.GetMatch .Params.featured_image }}
      <img src="{{ .RelPermalink }}" alt="{{ $.Title }}" width="100%">
      {{ end }}
    {{ end }}
    <h2 class="font-bold text-xl text-sky-500 mt-2"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ partial "terms.html" . }}
  </div>
  {{ end }}
  </div>
{{ end }}
